.main
{
    display: grid;
    grid-template: '. controls .' 80px '. view .'
        632px 'filters filters filters'
        312px / 1fr 632px 1fr;
}

.sprite
{
    visibility: hidden;
    position: absolute;
}

.view
{
    grid-area: view;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: transform 1s, filter 1s;
}

.controls
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: controls;
}

.control:not(.logo)
{
    opacity: .8;
    fill: #444;
}

input
{
    display: none;
}

.fill-input:checked ~ .view .image
{
    object-fit: contain;
}

.scale-label1,
.scale-label2,
.scale-label3,
.scale-label4
{
    display: none;
}

.scale-input1:checked ~ .controls > .scale-label2,
.scale-input2:checked ~ .controls > .scale-label3,
.scale-input3:checked ~ .controls > .scale-label4,
.scale-input4:checked ~ .controls > .scale-label1
{
    display: initial;
}

.scale-input2:checked ~ .view .image
{
    transform: scale(1.2);
}

.scale-input3:checked ~ .view .image
{
    transform: scale(1.4);
}

.scale-input4:checked ~ .view .image
{
    transform: scale(1.6);
}

.rotate-label1,
.rotate-label2,
.rotate-label3,
.rotate-label4
{
    display: none;
}

.rotate-input1:checked ~ .controls > .rotate-label2,
.rotate-input2:checked ~ .controls > .rotate-label3,
.rotate-input3:checked ~ .controls > .rotate-label4,
.rotate-input4:checked ~ .controls > .rotate-label1
{
    display: initial;
}

.rotate-input2:checked ~ .view .image
{
    transform: rotate(.25turn);
}

.rotate-input3:checked ~ .view .image
{
    transform: rotate(.5turn);
}

.rotate-input4:checked ~ .view .image
{
    transform: rotate(.75turn);
}

.logo-input:checked ~ .view .image
{
    transform: initial;
    object-fit: cover;
}

.flip-input:checked ~ .view .image
{
    transform: rotateY(180deg);
}

.control:hover
{
    opacity: 1;
    cursor: pointer;
}

.no-filter-input:checked ~ .filters .no-filter .filter__name,
.piter-input:checked ~ .filters .piter-filter .filter__name,
.yalta-input:checked ~ .filters .yalta-filter .filter__name,
.ural-input:checked ~ .filters .ural-filter .filter__name,
.invert-input:checked ~ .filters .invert-filter .filter__name,
.sahara-input:checked ~ .filters .sahara-filter .filter__name
{
    font-weight: bold;
}

.filters
{
    padding-bottom: 37px;
    grid-area: filters;
    display: flex;
    justify-content: center;
}

.piter-input:checked ~ .view .image,
.piter-filter
{
    filter: grayscale(1);
}

.yalta-input:checked ~ .view .image,
.yalta-filter
{
    filter: sepia(1);
}

.ural-input:checked ~ .view .image,
.ural-filter
{
    filter: hue-rotate(180deg);
}

.invert-input:checked ~ .view .image,
.invert-filter .filter__image
{
    filter: invert(1);
}

.sahara-input:checked ~ .view .image,
.sahara-filter .filter__image
{
    filter: brightness(2);
}

.filter
{
    display: none;
    padding-left: 5px;
    user-select: none;
}

.filter__name
{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
    color: #444;
}

.filter__image
{
    object-fit: cover;
    width: 169px;
    height: 170px;
}

.filters__left-arrow-container
{
    padding-right: 34px;
    padding-top: 106px;
    display: none;
    justify-content: flex-end;
    align-items: center;
    grid-area: left-arrow;
}

.filters__left-arrow
{
    transform: rotate(90deg);
    opacity: .8;
    fill: #444;
}

.last-arrow
{
    opacity: .6;
}

.filters__right-arrow-container
{
    display: none;
    padding-left: 34px;
    padding-top: 106px;
    justify-content: flex-start;
    align-items: center;
    grid-area: right-arrow;
}

.input-arrow1:checked ~ .right-arrow1,
.input-arrow2:checked ~ .right-arrow2,
.input-arrow3:checked ~ .right-arrow3,
.input-arrow1:checked ~ .left-arrow1,
.input-arrow2:checked ~ .left-arrow2,
.input-arrow3:checked ~ .left-arrow3
{
    display: flex;
}

.input-arrow1:checked ~ .filter:nth-child(n + 5):nth-child(-n+10),
.input-arrow2:checked ~ .filter:nth-child(n + 7):nth-child(-n+12),
.input-arrow3:checked ~ .filter:nth-child(n + 9):nth-child(-n+14)
{
    display: initial;
    visibility: initial;
}

.filters__right-arrow
{
    transform: rotate(-90deg);
    opacity: .8;
    fill: #444;
}
