body
{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #444;
}

input
{
    display: none;
}

.general-layout
{
    position: relative;
    top: -20px;
    width: 824px;
    height: 1024px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template: 'tabs' 80px
        'photo' 632px
        'filters' 312px
        / 824px;
}

.settings-tabs__wrapper
{
    grid-area: tabs;
    padding: 0 96px;
}

.settings-tabs
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 20px;
    height: 100%;
    width: 100%;
}

.setting-tabs__item
{
    width: 48px;
    height: 48px;
}

.tab-icon
{
    max-width: 48px;
    max-height: 48px;
    fill: #444;
    fill-opacity: .8;
}

.carousel-label:hover .icon-arrow,
.tab-icon:hover
{
    fill-opacity: 1;
}

.cat-photo
{
    grid-area: photo;
    padding: 0 96px;
    width: calc(100% - 194px);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.cat-photo__img
{
    object-fit: cover;
    height: 100%;
    transition: all .4s ease-out;
}

.tabs-label
{
    display: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.filters__wrapper
{
    grid-area: filters;
    height: calc(100% - 55px);
    width: 100%;
    padding-top: 55px;
    display: flex;
    flex-flow: row nowrap;
}

.filters
{
    width: 695px;
    position: relative;
    overflow: hidden;
}

.filters__layout
{
    display: flex;
    flex-flow: row nowrap;
    width: 1045px;
    justify-content: space-between;
    transition: all .5s ease-out;
}

.filters__item
{
    width: 170px;
}

.filter__title
{
    padding: 15px 0;
    text-align: center;
}

.filter__preview
{
    width: 170px;
    height: 170px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.filter-img-label
{
    width: 170px;
    height: 170px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.arrow__wrapper
{
    height: 170px;
    width: 31px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.left-arrow__wrapper
{
    padding: 51px 34px 0 0;
}

.right-arrow__wrapper
{
    padding: 51px 0 0 34px;
}

.arrow
{
    display: block;
    height: 48px;
    width: 31px;
}

.icon-arrow
{
    height: 48px;
    width: 48px;
    position: relative;
    fill: #444;
    fill-opacity: .8;
}

.icon-left-arrow
{
    transform: rotate(90deg);
    left: -16px;
}

.icon-right-arrow
{
    transform: rotate(-90deg);
}

.arrow_active_no
{
    opacity: .5;
}

.carousel-label,
.arrow_active_no
{
    display: none;
}

.cat-preview
{
    object-fit: cover;
    height: 100%;
}

.cat-preview__filter-2
{
    filter: blur(2px);
}

.cat-preview__filter-3
{
    filter: sepia(100%);
}

.cat-preview__filter-4
{
    filter: saturate(200%);
}

.cat-preview__filter-5
{
    filter: invert(100%);
}

.cat-preview__filter-6
{
    filter: hue-rotate(270deg);
}

.cat-photo__scale-wrapper,
.cat-photo__rotate-wrapper,
.cat-photo__flip-wrapper,
.cat-photo__filter-wrapper
{
    width: 100%;
    height: 100%;
    transition: all .4s ease-out;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.cat-photo__layout
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo_no-effects
{
    display: none;
}

.tab-icon__logo
{
    fill: url(#logo-gradient);
}

input[id='fill-cover']:checked ~ main .label__fill-standart,
input[id='fill-standart']:checked ~ main .label__fill-cover,
input[id='flip-reflection']:checked ~ main .label__flip-standart,
input[id='flip-standart']:checked ~ main .label__flip-reflection,
input[id='rotate-0deg']:checked ~ main .label__rotate-90deg,
input[id='rotate-90deg']:checked ~ main .label__rotate-180deg,
input[id='rotate-180deg']:checked ~ main .label__rotate-270deg,
input[id='rotate-270deg']:checked ~ main .label__rotate-0deg,
input[id='scale-1']:checked ~ main .label__scale-2,
input[id='scale-2']:checked ~ main .label__scale-3,
input[id='scale-3']:checked ~ main .label__scale-4,
input[id='scale-4']:checked ~ main .label__scale-1,
input[id='carousel-1']:checked ~ main .right-arrow__wrapper .carousel-2-label,
input[id='carousel-1']:checked ~ main .left-arrow__wrapper .arrow_active_no,
input[id='carousel-2']:checked ~ main .right-arrow__wrapper .carousel-3-label,
input[id='carousel-2']:checked ~ main .left-arrow__wrapper .carousel-1-label,
input[id='carousel-3']:checked ~ main .right-arrow__wrapper .arrow_active_no,
input[id='carousel-3']:checked ~ main .left-arrow__wrapper .carousel-2-label
{
    display: block;
}

input[id='carousel-2']:checked ~ main .filters__layout
{
    transform: translateX(-175px);
}

input[id='carousel-3']:checked ~ main .filters__layout
{
    transform: translateX(-350px);
}

input[id='fill-standart']:checked ~ main .cat-photo__img
{
    object-fit: contain;
}

input[id='flip-reflection']:checked ~ main .cat-photo__flip-wrapper
{
    transform: scale(-1, 1);
}

input[id='rotate-90deg']:checked ~ main .cat-photo__rotate-wrapper
{
    transform: rotate(-90deg);
}

input[id='rotate-180deg']:checked ~ main .cat-photo__rotate-wrapper
{
    transform: rotate(-180deg);
}

input[id='rotate-270deg']:checked ~ main .cat-photo__rotate-wrapper
{
    transform: rotate(-270deg);
}

input[id='scale-2']:checked ~ main .cat-photo__scale-wrapper
{
    transform: scale(1.3);
}

input[id='scale-3']:checked ~ main .cat-photo__scale-wrapper
{
    transform: scale(1.6);
}

input[id='scale-4']:checked ~ main .cat-photo__scale-wrapper
{
    transform: scale(1.9);
}

input[id='filter-1']:checked ~ main .filter-1-label,
input[id='filter-2']:checked ~ main .filter-2-label,
input[id='filter-3']:checked ~ main .filter-3-label,
input[id='filter-4']:checked ~ main .filter-4-label,
input[id='filter-5']:checked ~ main .filter-5-label,
input[id='filter-6']:checked ~ main .filter-6-label
{
    color: #000;
    font-weight: bold;
}

input[id='filter-2']:checked ~ main .cat-photo__filter-wrapper
{
    animation: blur-filter .8s ease-in forwards;
}

input[id='filter-3']:checked ~ main .cat-photo__filter-wrapper
{
    animation: sepia-filter .8s ease-out forwards;
}

input[id='filter-4']:checked ~ main .cat-photo__filter-wrapper
{
    animation: saturate-filter .8s ease-out forwards;
}

input[id='filter-5']:checked ~ main .cat-photo__filter-wrapper
{
    animation: invert-filter .8s ease-out forwards;
}

input[id='filter-6']:checked ~ main .cat-photo__filter-wrapper
{
    animation: hue-rotate-filter .8s ease-out forwards;
}

@keyframes blur-filter
{
    100%
    {
        filter: blur(2px);
    }
}

@keyframes sepia-filter
{
    100%
    {
        filter: sepia(100%);
    }
}

@keyframes saturate-filter
{
    100%
    {
        filter: saturate(200%);
    }
}

@keyframes invert-filter
{
    100%
    {
        filter: invert(100%);
    }
}

@keyframes hue-rotate-filter
{
    100%
    {
        filter: hue-rotate(270deg);
    }
}

input[id='reset']:checked ~ main .photo_no-effects
{
    display: block;
}

input[id='reset']:checked ~ main .tab-icon__logo
{
    fill: #444;
}
