body
{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.catgram
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header
{
    width: 632px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.header__fill-icon,
.header__flip-icon,
.header__logo-icon,
.header__rotate-icon,
.header__scale-icon
{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.header-icon + .header-icon
{
    margin-left: 98px;
}

.main-photo
{
    margin: 0 auto;
}

.main-photo__image
{
    width: 632px;
}

.filters-panel
{
    margin-top: 69px;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-panel__left-arrow
{
    height: 31px;
    width: 47px;
    transform: rotate(90deg);
    margin-right: 34px;
}

.filters-panel__right-arrow
{
    height: 31px;
    width: 47px;
    transform: rotate(-90deg);
    margin-left: 34px;
}

.filters-panel-left-arrow__icon
{
    opacity: .2;
    height: 31px;
    width: 47px;
}

.filters-panel-right-arrow__icon
{
    opacity: .6;
    height: 31px;
    width: 47px;
}

.filters-galery
{
    display: flex;
}

.filters-galery__filter + .filters-galery__filter
{
    margin-left: 5px;
}

.filter__name
{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.filter__demo-image
{
    width: 170px;
    padding-top: 10px;
}

.piter .filter__demo-image
{
    filter: grayscale(1);
}

.yalta .filter__demo-image
{
    filter: sepia(1);
}

.ural-summer .filter__demo-image
{
    filter: hue-rotate(160deg);
}

.none:hover,
.piter:hover,
.yalta:hover,
.ural-summer:hover
{
    cursor: pointer;
}

.none:checked ~ .main-photo .main-photo__image
{
    animation: delete-filter 5s linear;
}

.piter:checked ~ .main-photo .main-photo__image
{
    animation: piter-filter 5s linear;
}

.yalta:checked ~ .main-photo .main-photo__image
{
    filter: sepia(1);
}

.ural-summer:checked ~ .main-photo .main-photo__image
{
    filter: hue-rotate(160deg);
}

@keyframes delete-filter
{
    to
    {
        filter: none;
    }
}

@keyframes piter-filter
{
    to
    {
        filter: grayscale(1);
    }
}
