body
{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.catgram
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header
{
    width: 632px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 12px auto 24px;
    align-items: center;
}

.header__button + .header__button
{
    margin-left: 98px;
}

.header-button
{
    position: relative;
    width: 48px;
    height: 48px;
}

.header-button__label
{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.header-button__label:hover
{
    opacity: .8;
}

.header-button__type_radio .header-button__label
{
    display: none;
}

input[id='rotate-option-0']:checked ~ .header .header-button__label_rotate_90,
input[id='rotate-option-90']:checked ~ .header .header-button__label_rotate_180,
input[id='rotate-option-180']:checked ~ .header .header-button__label_rotate_270,
input[id='rotate-option-270']:checked ~ .header .header-button__label_rotate_0,
input[id='scale-option-x1']:checked ~ .header .header-button__label_scale_x2,
input[id='scale-option-x2']:checked ~ .header .header-button__label_scale_x3,
input[id='scale-option-x3']:checked ~ .header .header-button__label_scale_x4,
input[id='scale-option-x4']:checked ~ .header .header-button__label_scale_x1
{
    display: block;
}

input[id='rotate-option-90']:checked ~ .main-photo .main-photo__image
{
    transform: rotate(90deg);
}

input[id='rotate-option-180']:checked ~ .main-photo .main-photo__image
{
    transform: rotate(180deg);
}

input[id='rotate-option-270']:checked ~ .main-photo .main-photo__image
{
    transform: rotate(270deg);
}

input[id='scale-option-x2']:checked ~ .main-photo .main-photo__image
{
    transform: scale(2);
}

input[id='scale-option-x3']:checked ~ .main-photo .main-photo__image
{
    transform: scale(3);
}

input[id='scale-option-x4']:checked ~ .main-photo .main-photo__image
{
    transform: scale(4);
}

input[id='fill-option']:checked ~ .main-photo .main-photo__image
{
    object-fit: cover;
}

input[id='flip-option']:checked ~ .main-photo .main-photo__image
{
    transform: scale(-1, 1);
}

.header__logo-input:active ~ .main-photo .main-photo__image
{
    transform: none !important;
    animation: delete-filter 1s ease forwards !important;
}

.header-icon
{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.header-icon_type_flip
{
    margin-top: 5px;
}

.instagram-icon
{
    fill: url(#instargam-gradient);
}

.main-photo
{
    margin: 0 auto;
    overflow: hidden;
}

.main-photo__image
{
    width: 632px;
    object-fit: none;
    user-select: none;
}

.filters-panel
{
    margin-top: 69px;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-panel__left-arrow
{
    height: 31px;
    width: 47px;
    transform: rotate(90deg);
    margin-right: 34px;
}

.filters-panel__right-arrow
{
    height: 31px;
    width: 47px;
    transform: rotate(-90deg);
    margin-left: 34px;
}

.filters-panel-left-arrow__icon
{
    opacity: .2;
    height: 31px;
    width: 47px;
}

.filters-panel-right-arrow__icon
{
    opacity: .6;
    height: 31px;
    width: 47px;
}

.filters-galery
{
    display: flex;
}

.filters-galery__filter + .filters-galery__filter
{
    margin-left: 5px;
}

.filter__name
{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.filter__demo-image
{
    width: 170px;
    padding-top: 10px;
}

.piter .filter__demo-image
{
    filter: grayscale(1);
}

.yalta .filter__demo-image
{
    filter: sepia(1);
}

.ural-summer .filter__demo-image
{
    filter: hue-rotate(160deg);
}

.none:hover,
.piter:hover,
.yalta:hover,
.ural-summer:hover
{
    cursor: pointer;
}

.none:checked ~ .main-photo .main-photo__image
{
    filter: none;
}

.piter:checked ~ .main-photo .main-photo__image
{
    animation: piter-filter 2s linear forwards;
}

.yalta:checked ~ .main-photo .main-photo__image
{
    animation: yalta-filter 2s linear forwards;
}

.ural-summer:checked ~ .main-photo .main-photo__image
{
    animation: ural-summer-filter 2s linear forwards;
}

@keyframes delete-filter
{
    to
    {
        filter: none;
    }
}

@keyframes piter-filter
{
    to
    {
        filter: grayscale(1);
    }
}

@keyframes yalta-filter
{
    to
    {
        filter: sepia(1);
    }
}

@keyframes ural-summer-filter
{
    to
    {
        filter: hue-rotate(160deg);
    }
}
